.Spacefield {
  background-image:
    url("./asserts/img/Starfield.gif");
  background-size: cover;
  background-position: center;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.gradient-color {
  background: linear-gradient(54deg, rgba(128, 255, 242, 1) 36%, rgba(0, 154, 255, 0.6523401596966911) 90%);
}